html    
    head 
        title= AparatoAire
        script(src="air.js")           
    body 
        form(action="/subirTemperatura" method="GET" id=formData name="myForm")
            input(type="submit" value="Subir temperatura" onclick="#{subirTemperatura}")

        form(action="/bajarTemperatura" method="GET" id=formData name="myForm")
            input(type="submit" value="Bajar temperatura" onclick="#{bajarTemperatura}")

        h1 #{mostrarTemperatura}

        

        
    


    
            

            


